<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>/blogs Status</title>
        <style>
            .pass { color: green; }
            .fail { color: red; }
        </style>
    </head>
    <body>
        <h1>Status at {{now|date('c')}}</h1>
        <p>OK</p>
    </body>
</html>
