{% extends 'base.html.twig' %}

{% block title %}
    BBC {{ tr('page_title_blogs') }} - No internet connection
{% endblock %}
{% block body %}
    <h1>BBC Blogs - No internet connection.</h1>
{% endblock %}
