parameters:
    ignoreErrors:
        - '#Calling method getContent\(\) on possibly null value of type Symfony\\Component\\HttpFoundation\\Response|null#'
        - '#Call to an undefined method Tests\\App\\Translate\\TranslatableTraitTest::tr\(\).#'
        - '#RedisCluster#' #PHPStan does not play well with RedisCluster it seems
        - '#Call to an undefined method Tests\\App\\Twig\\TranslateAndTimeExtensionTest::localDateIntl\(\).#'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
