<div class="islet--vertical text--shout">
    <a class="blogscomments-link" href="{{ path('post', {blogId: social_bar.getBlogId(), guid: social_bar.getGuid()}) }}#comments" data-bbc-container="{{ social_bar.getBlogId() }}" data-bbc-title="post-comments">
        {{ gelicon('basics', 'comments', 'gelicon--text-base gelicon--comments') }}
        {{ tr('link_comments') }}
    </a>
</div>

