<div class="islet--vertical text--shout">
    <a class="blogscomments-link" href="{{ path('post', {blogId: social.getBlogId(), guid: social.getGuid()}) }}#comments">
        {{ gelicon('basics', 'comments', 'gelicon--text-base gelicon--comments') }}
        {{ tr('link_comments') }}
    </a>
</div>

