/**
 * Hidden.
 *
 * Helper classes to show or hide blocks based on the current breakpoint
 */

@mixin gel-hidden-setup($namespace: '', $class-prefix: $gel-class-prefix) {
    #{$class-prefix}#{$namespace}hidden {
        display: none !important;
    }

    #{$class-prefix}#{$namespace}visible {
        display: inherit !important;
    }

    #{$class-prefix}#{$namespace}grid-visible {
        display: inline-block !important;
    }
}

@include gel-hidden-setup();

/**
 * Generate media-query scoped grids for each breakpoint name defined
 */
@each $name in $gel-widths-breakpoints {
    @include mq-range($name) {
        @include gel-hidden-setup('#{$name}-');
    }
}
