<div class="component">
    {{ ds('image', image_block.getImage(), 320, {770: '66.66vw', 1008: '613px'}, {'is_lazy_loaded': false}) }}
    {%- if image_block.getCaption() -%}
        <p><em>{{- image_block.getCaption() -}}</em></p>
    {%- endif -%}
</div>
