.counted-list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: counted-list-counter;
}

.counted-list__item {
    padding-right: 32px;
    display: block;
    margin-bottom: 1px;
    position: relative;
}

.counted-list__item::before {
    content: counter(counted-list-counter);
    counter-increment: counted-list-counter;
    position: absolute;
    top: 4px;
    right: 8px;
    opacity: 0.7;
    font-size: 24px;
    font-weight: normal;
}

@include breakup-breakpoint('bpw') {
    .counted-list__item::before {
        top: 8px;
        font-size: 28px;
    }
}
