<div>
    {% include 'comments/comments_styling.html.twig' with { 'colours': colours } only %}

    {%- if comments -%}
        <div class="component comments-section" id="comments">
            {{ comments.getBody()|raw }}
        </div>
        {%- for script in comments.getBodyLast() -%}
            {{ script|raw }}
        {%- endfor -%}
    {%- else -%}
        <a href="{{- url('comments_index', {blogId: blog.getId(), guid: post.getGuid()}) -}}"> {{- tr('link_comments_standalone') -}}</a>
    {%- endif -%}
</div>
